<% @reviews.each do |review| %>
  <section class="container">
    <div class="user">
      <img src="http://lorempixel.com/80/80/people" alt="<%= review.author.name %>" class="username" width="40" height="40">
      <%= review.author.name %>
    </div><!-- user -->

    <div class="item">
      <img src="http://lorempixel.com/300/200/food" alt="<%= review.shop.name %>の写真" class="itemUserPhoto">
      <p class="itemShopName lead"><a href="detail.html"><%= review.shop.name %></a></p>
      <p class="itemUserReview"><%= review.content %></p>
      <ul class="actionFooter unstyled">
        <li><a href="wantToGo" class="btn btn-primary btn-large btn-block">行きたい!</a></li>
        <li><button class="btn btn-info" data-toggle="collapse" data-target="#commentArea"><i class="icon-comment icon-white"></i> コメント</button></li>
        <div id="commentArea" class="commentArea collapse out">
        <textarea></textarea>
        <buttom class="btn btn-primary btn-large btn-block">投稿する</buttom>
        </div><!-- collapse -->
      </ul>
    </div><!-- item -->
    <div class="readMore">
      <p><a href="readMore" class="btn btn-warning btn-large btn-block">もっと読む</a></p>
    </div>
  </section>
  <!-- /.container -->
<% end %>
<%= link_to 'New Review', new_review_path %>
